Mzt.WCFEmailSender/Connected Services/MailService/MailService41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:64506/MailService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Mouzenidis.Mailer.Model" />
  <xs:element name="Send">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Mouzenidis.Mailer.Model" minOccurs="0" name="request" nillable="true" type="q1:MailData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Mouzenidis.Mailer.Model" minOccurs="0" name="SendResult" nillable="true" type="q2:SendResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Check">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Mouzenidis.Mailer.Model" minOccurs="0" name="CheckResult" nillable="true" type="q3:SendResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>